<div class="button-wrapper left" (click)="scroll(false)">
  <button mat-icon-button type="button" aria-label="Predošlá">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<div class="button-wrapper right" (click)="scroll(true)">
  <button mat-icon-button type="button" aria-label="Ďalšia">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<div class="scroll-wrapper">
<!--  fxLayout="row" fxLayoutAlign="start center"-->
  <div #scrollableElement class="scrollable-element">
    <ng-content ></ng-content>
  </div>
</div>
