<h1>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.subtitle}}</p>
  <div *ngFor="let customValue of data.customValues">
    <label>
      <input *ngIf="customValue.getType() === 'checkbox'" type="checkbox" [(ngModel)]="customValue.value" />
      {{customValue.label}}
    </label>
  </div>
</div>
<div class="actions">
  <button mat-button tabindex="-1" *ngIf="data.cancelButton" (click)="close(false)">
    {{data.cancelButton}}
  </button>
  <button mat-button color="primary" tabindex="1" *ngIf="data.okButton" (click)="close(true)" class="ok-button">
    {{data.okButton}}
  </button>
</div>
