<h1>{{data.title}}</h1>
<div mat-dialog-content>
  <p [innerHTML]="subtitle"></p>
  <div *ngFor="let customValue of data.customValues; let index = index">
    <label *ngIf="customValue.getType() === 'checkbox'">
      <input type="checkbox" [(ngModel)]="customValue.value" />
    </label>
    <mat-form-field>
      <mat-label>{{customValue.label}}</mat-label>
      <input [name]="'val' + index" *ngIf="customValue.getType() === 'text'" matInput type="text" [(ngModel)]="customValue.value" />
    </mat-form-field>
  </div>
</div>
<div class="actions">
  <button mat-button tabindex="-1" *ngIf="data.cancelButton" (click)="close(false)">
    {{data.cancelButton}}
  </button>
  <button mat-button color="primary" tabindex="1" *ngIf="data.okButton" (click)="close(true)" class="ok-button">
    {{data.okButton}}
  </button>
</div>
