form {
  position: relative;
  .refresh-btn {
    position: absolute;
    right: 1rem;
    margin-top: -3rem;
  }
}

::ng-deep milo-table mat-table {

  &.filters-shown mat-header-cell {
    align-self: stretch;
    &:last-child {
      padding: 0.5rem 0 1rem;
      > * {
        place-content: center;
      }
    }
  }
  width: 100%;
  display: block;

  mat-header-row {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  mat-header-row, mat-row {
    flex-wrap: wrap;
    milo-filter {
      width: 100%;
    }
  }

  mat-cell button {
    border-radius: 0 !important;
  }

  mat-header-cell, mat-cell {
    margin-right: 1rem !important;
    //line-break: anywhere;
    min-width: 50px;
    flex-grow: 2;
    &.type3 {
      min-width: 210px;
      max-width: 210px;
      mat-form-field {
        min-width: 100px;
        width: calc(50% - 0.25rem);
        &:first-child {
          margin-right: 0.5rem;
        }
      }
      -webkit-line-break: after-white-space;
    }
    &.select {
      min-width: 20px;
      max-width: 20px;
    }
    &:last-child {
      min-width: 110px;
      justify-content: flex-end;
      padding-right: 0;
      padding-left: 1rem;
      flex-grow: 1;
      button {
        //width: auto;
        overflow: hidden;
        margin-left: 3px;
        &.filter-btn {
          min-width: 100%;
          margin: 0;
          mat-icon {
            position: absolute;
            top: 8px;
            right: 8px;
          }
        }
      }
    }
  }

  mat-header-cell {
    > * {
      width: 100%;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: flex-start space-between;
      align-items: flex-start;
      height: 100%;
      > * {
        width: 100%;
      }
    }
    ::ng-deep .col-label {
      white-space: nowrap;
      cursor: pointer;
      display: block;
      margin: 1rem 0 0.5rem 0;

      mat-icon {
        font-size: 0.8rem !important;
        height: 18px !important;
        width: 18px !important;
      }
    }
  }

  mat-form-field {
    min-width: 100px;
  }

  .filter-btn mat-icon {
    font-size: 1.2rem !important;
  }

}


::ng-deep .mat-paginator {
  padding-right: 4rem;
}
